{% extends 'Base/home.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{amplificador.titulo}}</h4></p>
{% if amplificador.imagenInstrumento %}
    <p><img src="{{amplificador.imagenInstrumento.url}}" alt=""></p>
{% endif %}
<p>Marca: {{amplificador.marca}}</p>
<p>Modelo: {{amplificador.modelo}}</p>
<p>Descripción: {{amplificador.descripcion}}</p>
<p>Año: {{amplificador.year}}</p>
<p>Precio(US$): {{amplificador.precio}}</p>
<p>Teléfono de Contacto: {{amplificador.telefonoContacto}}</p>
<p>Email de Contacto: {{amplificador.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not amplificador.comentarios.all %}
        No han comentado este instrumento
    {% else %}
        {% for comentario in amplificador.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' amplificador.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}