{% extends 'Base/home.html' %}

{% block content %}

<br>
<br>
<br>

<div class="container text-center">
    <h1>Editar Perfil</h1>
</div>

<div class="container">

<form id="login-form" style=" width: 50vw; margin-left : 20vw;" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <br>
    <div class="container text-center">
    <button type="submit" class="btn btn-primary text-center">Guardar</button>
    </div>
</form>
</div>
<br>

<p class="text-center">Necesitas cambiar la contraseña?<a href="{% url 'cambiar_password' %}"> Haz click acá</a></p>

<br>
<br>
<br>
<br>
{% endblock %}

