{% extends 'Base/home.html' %}

{% block content %}





<br>
<br>

<div class="container text-center">
    <h1>Guitarras</h1>
</div>

<br>
<div class="container text-center">
    <div class="row">
            {% for guitarra in guitarras %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{guitarra.imagenInstrumento.url}}" class="" width="100px">
                {{guitarra.titulo}}
                <a href="{% url 'guitarra' guitarra.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == guitarra.usuario.id %}
                <a href="{% url 'guitarra_editar' guitarra.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'guitarra_eliminar' guitarra.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}