{% extends 'Base/home.html' %}

{% block content %}

<section class="text-dark p-5 p-lg-0 pt-lg-5 text-center">

<br>

<div class="container text-center">
    <h1>Otros Instrumentos</h1>
</div>

<br>

<div class="container">
    <div class="row">
            {% for otro in otros %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{otro.imagenInstrumento.url}}" class="rounded-circle" width="100px">
                {{otro.titulo}}
                <a href="{% url 'otro' otro.id %}">Ver</a>
                {% if user.id == otro.usuario.id %}
                <a href="{% url 'otro_editar' otro.id %}">Editar</a>
                <a href="{% url 'otro_eliminar' otro.id %}">Eliminar</a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>
</section>
{% endblock %}