{% extends 'Base/home.html' %}

{% block content %}

<br>
<br>
<br>
<br>
<br>

<div class="container text-center">
    <h1>Iniciar Sesión</h1>
</div>

<div class="container text-center">
    
        <div class="container">
            <div class="text-center">
                <form id="login-form" style=" width: 50vw; margin-left : 15vw;" method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td><label for="id_username">Usuario</label></td>
                            <td><input id="id_username" name="username" 
                                       type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_password">Contraseña</label></td>
                            <td><input id="id_password" name="password" 
                                       type="password" class="form-control"></td>
                        </tr>
                    </table>
                    {% if form.errors %}
                        <p class="label label-danger">
                            Tu usuario y contraseña no coinciden 
                            Intenta nuevamente.
                        </p>
                    {% endif %}
    
                    <input type="submit" value="Login" 
                           class="btn btn-primary pull-right" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    <br>
    <p>Aun no tienes cuenta? <a href="{% url 'registro' %}">Regístrate</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}