{% extends 'Base/home.html' %}

{% block content %}

<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h1>Has salido de la sesión</h1>
</div>

<div class="container">
    <p>Quieres iniciar de nuevo? <a href="{% url 'login' %}">Iniciar Sesión</a></p>
</div>

{% endblock %}