{% extends 'Base/home.html' %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% if user.id == otro.usuario.id %}

<div class="container text-center">

<form method="post">{% csrf_token %}
    <h4>Estás seguro(a) que deseas borrar el artículo {{otro.marca}} {{otro.modelo}} ?</h4>
    <p>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </p>
</form>

</div>
{% else %}
<div class="container">
<h4>No tienes acceso a esta pagina!</h4>
</div>
{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}