{% extends 'Base/home.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{pedal.titulo}}</h4></p>
{% if pedal.imagenInstrumento %}
    <p><img src="{{pedal.imagenInstrumento.url}}" alt=""></p>
{% endif %}
<p>Marca: {{pedal.marca}}</p>
<p>Modelo: {{pedal.modelo}}</p>
<p>Descripción: {{pedal.descripcion}}</p>
<p>Año: {{pedal.year}}</p>
<p>Precio(US$): {{pedal.precio}}</p>
<p>Teléfono de Contacto: {{pedal.telefonoContacto}}</p>
<p>Email de Contacto: {{pedal.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not pedal.comentarios.all %}
        No han comentado este instrumento
    {% else %}
        {% for comentario in pedal.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' pedal.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}