{% extends 'Base/home.html' %}

{% block content %}

<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
            </div>
        </div>
    </div>
</section>

{% if user.id == pedal.usuario.id %}
<div class="container">

    <h4>Editar Pedal</h4>
    
</div>

<div class="container">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>    
</div>
<br>
{% else %}
<div class="container">
<h4>No tienes acceso a esta pagina!</h4>
</div>
{% endif %}
{% endblock %}